set autoindent
set backupdir /tmp/backup
set backup
set noconvert
set regexp
set suspend
set tabsize 4
set undo
set historylog
set whitespace "> "

bind ^H left all
bind ^J down all
bind ^K up all
bind ^L right all
bind ^F endpara all
bind ^B beginpara all
bind ^U undo all
bind ^R redo all
bind ^A home all
bind ^E end all
bind M-Space mark all
bind ^I indent all
bind ^Y copytext all
