{
	"rules": {
		"no-unused-vars": [0, {"vars": "all", "args": "none"}],
		"no-console": 0,
		"no-undef": 0,
		"no-redeclare": 0,
		"dot-location": [2, "object"],
		"eqeqeq": [2, "smart"],
		"indent": [ 2, "tab" ],
		"quotes": [ 0, "double" ],
		"linebreak-style": [ 2, "unix" ],
		"semi": [ 0, "always" ]
	},
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": "eslint:recommended"
}
