<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<title></title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/vue-material"></script>

		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
		<div id="app">
			{{hello}}
		</div>
		<script>
			Vue.use(VueMaterial.default)

			new Vue({
				el: '#app',
				data: {
					hello: 'world',
				},

				methods: {
				},

				mounted: function () {
				},
			})
		</script>
	</body>
</html>
